# Build and IDE files
.gradle
build

# Logs
*.log

# Code Style
.idea/**
!.idea/codeStyles/
.idea/codeStyles/**
!.idea/codeStyles/Project.xml
!.idea/codeStyles/codeStyleConfig.xml

#properties
src/main/resources/db.properties